<div class="container">
    <h1 align="center">Change Password</h1>
    <form [formGroup]="pass_field" fxLayout="column">
        <div class="old" fxLayout="row" fxFlex="50%" fxFlex.lt-sm="100%" fxLayout.lt-sm="column">
            <mat-label fxFlex="30%">Old Password</mat-label>
            <mat-form-field appearance="outline" fxFlex="70%">
                <input matInput formControlName="oldpassword">
                <mat-error>
                    {{(message|async)?.required_field}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="new" fxLayout="row" fxFlex="50%" fxFlex.lt-sm="100%" fxLayout.lt-sm="column">
            <mat-label fxFlex="30%">New Password</mat-label>
            <mat-form-field appearance="outline" fxFlex="70%">
                <input matInput formControlName="newpassword" #new1>
                <mat-error *ngIf="pass_field?.get('newpassword')?.hasError('required')">
                    {{(message|async)?.required_field}}
                </mat-error>
                <mat-error *ngIf="pass_field?.get('newpassword')?.hasError('pattern')">
                    Week Password!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="new1" fxLayout="row" fxFlex="50%" fxFlex.lt-sm="100%" fxLayout.lt-sm="column">
            <mat-label fxFlex="30%">Confirm Password</mat-label>
            <mat-form-field appearance="outline" fxFlex="70%">
                <input matInput formControlName="newpassword1" #new2>
                <mat-error *ngIf="pass_field?.get('newpassword1')?.hasError('required')">
                    {{(message|async)?.required_field}}
                </mat-error>
                <mat-error *ngIf="pass_field?.get('newpassword1')?.errors?.['mismatch']">
                    {{(message|async)?.mismatched}}
                </mat-error>
            </mat-form-field>
        </div>
        <div align="center">
            <button mat-raised-button color="primary" >Submit</button>
        </div>
    </form>
</div>