<div id="nav">
    <a href=" "  id="title"> <span class="o">Little</span> Fasion</a>
    <div id="nav-list">
        <a id="home"  routerLink="/home" >Home</a>
        <a id="story"  routerLink="/story" >Story</a>
        <a id="product"  routerLink="/product" >Product</a>
        <a id="contact"  routerLink="/contact" >Contact</a>
        <a id="snackbar"  routerLink="/snackbar" >snackbar</a>
    </div>
    <div id="end_icon">
        <a id="login" routerLink="/login" class="fa-regular fa-user"></a>
        <a id="cart" routerLink="/cart" class="fa-solid fa-bag-shopping"></a>
    </div>
</div>