<div id="head" fxLayoutAlign="center center">
  <div id="body" fxLayout="row" fxLayout.xs="column" >
    <div class="p" id="left">
      <p class="gray">Have an account?<a>Sign In</a></p>
      <h1>Welcome to AOT</h1>
      <p class="gray">Blandit libero volutpat sed cras omare arcu dui.</p>
      <p class="gray">Accumsan in nisl nisi scelerisque eu.</p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon class="gray" matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon class="gray" matSuffix>lock</mat-icon>
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary" fxLayoutAlign="stretch">Create an account</button>
      <p>Or sign up with</p>
      <hr>
      <div id="icons">

      </div>
    </div>
    <div class="p" id="right"  >
      <i class="fa-solid fa-quote-left"></i>
    </div>
  </div> 
</div>