<p>new component</p>
<div class="container" >
    <div class="btngroup" fxFlex fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="20px">
        <button mat-raised-button class="success" (click)="onclick('success')">Success</button>
        <button mat-raised-button color="warn" (click)="onclick('error')">Error</button>
        <button mat-raised-button class="warning" (click)="onclick('warning')">Warning</button>
        <button mat-raised-button color="primary" (click)="onclick('info')">Info</button>
        <button mat-raised-button class="default" (click)="onclick('default')">Default</button>
    </div>
</div>
