.container{
    text-align: center;
    box-shadow: 0 0 200px rgb(63,81,181);
    border-radius: 10px;
    height: 460px;
    padding: 10px;
}
.logo{
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
    border-radius: 50%;
    padding-top: 40px;
    box-sizing: border-box;
}
.forgot{
    margin-top: 10px;
    margin-bottom: 30px;
}
.input2{
    margin-top: 10px;
}